html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  color: var(--clr-txt-primary);
  font-weight: 400;
}

@layer base {
  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    @apply bg-transparent shadow-sm;
  }
  ::-webkit-scrollbar {
    @apply h-[6px] w-[6px] bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply /*color trackbar*/ rounded-lg bg-clr-bg-secondary-solid;
  }
}
